/* header */

body{
   background-image: url("../assets/Snapchat-518127427.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   width: auto;
   margin: 130xp;
   }
   h2{color: rgb(205, 50, 50);}
   figure img {
      width: 0px;
   }
   p
   {color: maroon;}

   
/* main */



/* footer */

#div {
   background: gray;
 }